Sprint 1 - v1.0.json
{
  "name": "VERDADERO PROYECTO",
  "nodes": [
    {
      "parameters": {
        "content": "HU3 VALIDACION DE URL\nEnlace Bueno --> Siguiente sprint\nEnlace inválido --> Actualización en casilla en sheets (Enlace Roto/Invalido (\"Enlace\"))",
        "height": 592,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        592
      ],
      "typeVersion": 1,
      "id": "d543eb60-158b-46d6-a91d-46e849c2a305",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "method": "HEAD",
        "url": "={{ $('Base de datos de las solicitudes').item.json['Enlace adicional'] }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        704
      ],
      "id": "d2b96cf7-7aa1-4364-9278-0ee937ea7409",
      "name": "VALIDACION URL1",
      "notesInFlow": false,
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Primera parte, actualiza la fila a Pendiente, si es que es distinto de HECHO.\n",
        "height": 304,
        "width": 1488,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2608,
        736
      ],
      "typeVersion": 1,
      "id": "b6acbaed-f0e2-4c91-9cc5-00db0074ef2d",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "jsCode": "// Función para convertir un número de fecha de Google Sheets a formato MM/DD/YYYY\nfunction googleSheetsToDate(excelNum) {\n    const startDate = new Date(1899, 11, 30); // Fecha base de Google Sheets (30 de diciembre de 1899)\n    startDate.setDate(startDate.getDate() + excelNum); // Ajustar el número de días\n    return startDate;\n}\n\n// Función para formatear la fecha en MM/DD/YYYY\nfunction formatDate(date) {\n    const month = String(date.getMonth() + 1).padStart(2, '0'); // Mes (1-12)\n    const day = String(date.getDate()).padStart(2, '0'); // Día (1-31)\n    const year = date.getFullYear(); // Año (yyyy)\n    return `${month}/${day}/${year}`;\n}\n\n// Iterar sobre todos los elementos de entrada (pueden ser varios)\nconst inputData = items.map(item => {$json.Fecha\n    const excelDate = item.json.Fecha; // Obtener el valor de la propiedad 'Fecha'\n    \n    // Verificar si existe el valor de fecha\n    if (excelDate !== undefined && excelDate !== null) {\n        const convertedDate = googleSheetsToDate(excelDate);\n        const formattedDate = formatDate(convertedDate);\n\n        // Retornar los resultados con la fecha original y la fecha formateada\n        return {\n            json: {\n                originalExcelDate: excelDate,\n                formattedDate: formattedDate\n            }\n        };\n    }\n\n    // Si no hay valor de fecha, retornar el objeto tal cual\n    return item;\n});\n\n// Devolver los resultados\nreturn inputData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        848
      ],
      "id": "fd1b1651-f560-4a2b-81a3-7ddd28309ffb",
      "name": "Cambiar formato fecha1",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c08590f0-d237-4ac9-bba0-37e0f61de559",
              "name": "Marca temporal",
              "value": "={{ $('Base de datos de las solicitudes').item.json['Marca temporal'] }}",
              "type": "number"
            },
            {
              "id": "b34a786d-a869-44aa-968b-ae14a4b420c5",
              "name": "Tipo de Actividad",
              "value": "={{ $('Base de datos de las solicitudes').item.json['Tipo de Actividad'] }}",
              "type": "string"
            },
            {
              "id": "8c78e9c3-9986-40e9-9874-fd86cfe03886",
              "name": "Título de la actividad",
              "value": "={{ $('Base de datos de las solicitudes').item.json['Título de la actividad'] }}",
              "type": "string"
            },
            {
              "id": "ef85674e-323d-4c0e-97d4-f7cf38faae0d",
              "name": "Descripción breve",
              "value": "={{ $('Base de datos de las solicitudes').item.json['Descripción breve'] }}",
              "type": "string"
            },
            {
              "id": "23a04e26-0953-476b-bea9-2b6666762d49",
              "name": "Carrera Responsable",
              "value": "={{ $('Base de datos de las solicitudes').item.json['Carrera Responsable'] }}",
              "type": "string"
            },
            {
              "id": "cb40c032-317e-4f8a-abf1-e4958d402f8f",
              "name": "Fecha",
              "value": "={{ $json.formattedDate }}",
              "type": "string"
            },
            {
              "id": "81f70bb2-b83a-4601-a0e7-ae4a0fbd1516",
              "name": "Lugar",
              "value": "={{ $('Base de datos de las solicitudes').item.json.Lugar }}",
              "type": "string"
            },
            {
              "id": "131fc145-1702-42c1-8978-48243f8c714e",
              "name": "Imágenes o videos adjuntos",
              "value": "={{ $('Base de datos de las solicitudes').item.json['Imágenes o videos adjuntos'] }}",
              "type": "string"
            },
            {
              "id": "09a143bb-b876-4a4c-916b-17d12394fa9c",
              "name": "Enlace adicional",
              "value": "={{ $('Base de datos de las solicitudes').item.json['Enlace adicional'] }}",
              "type": "string"
            },
            {
              "id": "7255f9d8-c094-4488-8414-758b56dc72bd",
              "name": "Dirección de correo electrónico",
              "value": "={{ $('Base de datos de las solicitudes').item.json['Dirección de correo electrónico'] }}",
              "type": "string"
            },
            {
              "id": "5b4c1055-3d26-4526-b182-0bb870d13dab",
              "name": "Estado",
              "value": "={{ $('Base de datos de las solicitudes').item.json.Estado }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        848
      ],
      "id": "0603451c-7aff-43b2-9a35-c848daf12249",
      "name": "Lectura de los datos 1",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const raw = item.json[\"Marca temporal\"];\n  if (!raw) {\n    item.json.MarcatemporalFecha = null;\n    return item;\n  }\n\n  const valor = typeof raw === \"string\" ? parseFloat(raw) : raw;\n  if (isNaN(valor)) {\n    item.json.MarcaTemporalFecha = null;\n    return item;\n  }\n  \n  // Días desde 1899-12-30 → segundos totales\n  const totalSegundos = (valor - 25569) * 86400;\n  // Redondear al segundo exacto (Sheets redondea a segundos)\n  const segundosExactos = Math.round(totalSegundos);\n  const fecha = new Date(segundosExactos * 1000);\n\n  // Extraer hora UTC exacta\n  const yyyy = fecha.getUTCFullYear();\n  const mm = String(fecha.getUTCMonth() + 1).padStart(2, \"0\");\n  const dd = String(fecha.getUTCDate()).padStart(2, \"0\");\n  const hh = String(fecha.getUTCHours()).padStart(2, \"0\");\n  const min = String(fecha.getUTCMinutes()).padStart(2, \"0\");\n  const ss = String(fecha.getUTCSeconds()).padStart(2, \"0\");\n\n  item.json.MarcaTemporalFecha = `${dd}/${mm}/${yyyy} ${hh}:${min}:${ss}`;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        848
      ],
      "id": "3bf382ec-871c-4137-80d2-173d6c2fe6f5",
      "name": "Transforma Para tener ID de columna1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1t0bTqvEVBiu5mn99dkTsE6QR7TmLtDX8DizlXoemdcM",
          "mode": "list",
          "cachedResultName": "Agente automatizado de Difusión de Noticias y Actividades en Redes Sociales (Respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t0bTqvEVBiu5mn99dkTsE6QR7TmLtDX8DizlXoemdcM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2104950952,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t0bTqvEVBiu5mn99dkTsE6QR7TmLtDX8DizlXoemdcM/edit#gid=2104950952"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado": "PENDIENTE",
            "Marca temporal": "={{ $json.MarcaTemporalFecha }}"
          },
          "matchingColumns": [
            "Marca temporal"
          ],
          "schema": [
            {
              "id": "Marca temporal",
              "displayName": "Marca temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de Actividad",
              "displayName": "Tipo de Actividad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Título de la actividad",
              "displayName": "Título de la actividad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Descripción breve",
              "displayName": "Descripción breve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Carrera Responsable",
              "displayName": "Carrera Responsable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lugar",
              "displayName": "Lugar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Imágenes o videos adjuntos",
              "displayName": "Imágenes o videos adjuntos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enlace adicional",
              "displayName": "Enlace adicional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dirección de correo electrónico",
              "displayName": "Dirección de correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1344,
        848
      ],
      "id": "16fa0093-4bf7-4117-aabe-627cde1fab82",
      "name": "Cambiar a PENDIENTE1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ic896ruEGba3XeSN",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c18eee9-3351-4c57-a877-b3e8a02c0055",
              "leftValue": "={{ $('Base de datos de las solicitudes').item.json.Estado }}",
              "rightValue": "HECHO",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1600,
        848
      ],
      "id": "edcb44c6-6144-4113-beef-14f5dd05b65d",
      "name": "Filtra que no haya HECHOS1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1t0bTqvEVBiu5mn99dkTsE6QR7TmLtDX8DizlXoemdcM",
          "mode": "list",
          "cachedResultName": "Agente automatizado de Difusión de Noticias y Actividades en Redes Sociales (Respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t0bTqvEVBiu5mn99dkTsE6QR7TmLtDX8DizlXoemdcM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2104950952,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t0bTqvEVBiu5mn99dkTsE6QR7TmLtDX8DizlXoemdcM/edit#gid=2104950952"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Marca temporal": "={{ $('Transforma Para tener ID de columna1').item.json.MarcaTemporalFecha }}",
            "Enlace adicional": "=Enlace Roto/Invalido ({{ $('Base de datos de las solicitudes').item.json['Enlace adicional'] }})"
          },
          "matchingColumns": [
            "Marca temporal"
          ],
          "schema": [
            {
              "id": "Marca temporal",
              "displayName": "Marca temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de Actividad",
              "displayName": "Tipo de Actividad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Título de la actividad",
              "displayName": "Título de la actividad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Descripción breve",
              "displayName": "Descripción breve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Carrera Responsable",
              "displayName": "Carrera Responsable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lugar",
              "displayName": "Lugar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Imágenes o videos adjuntos",
              "displayName": "Imágenes o videos adjuntos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enlace adicional",
              "displayName": "Enlace adicional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dirección de correo electrónico",
              "displayName": "Dirección de correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        800
      ],
      "id": "c6199f47-1179-4be8-93c1-cfc7b8b1e7ce",
      "name": "Actualiza casilla en sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ic896ruEGba3XeSN",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -288,
        816
      ],
      "id": "da0cc9fb-8cf5-4f1e-928d-dd794cf50673",
      "name": "Adjunta todo1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65dbd059-eed6-465c-bf04-3bed7f0112d7",
              "leftValue": "={{ $('Base de datos de las solicitudes').item.json['Enlace adicional'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1008,
        848
      ],
      "id": "96d68f33-51f6-4d8d-af96-2a4539a38741",
      "name": "IF URL NOT VACÍO1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aaebcb58-b41e-4a57-99fb-9e05249935ae",
              "leftValue": "={{ $json.error }}",
              "rightValue": "=undefined",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "67641f8a-e3e3-4d85-8afc-f84dccd866b3",
              "leftValue": "={{ $('Base de datos de las solicitudes').item.json['Enlace adicional'] }}",
              "rightValue": "=Enlace Roto/Invalido",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -736,
        704
      ],
      "id": "3467b70b-7168-42a2-856a-7621f44aa84f",
      "name": "If Validación es vacío o error1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1t0bTqvEVBiu5mn99dkTsE6QR7TmLtDX8DizlXoemdcM",
          "mode": "list",
          "cachedResultName": "Agente automatizado de Difusión de Noticias y Actividades en Redes Sociales (Respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t0bTqvEVBiu5mn99dkTsE6QR7TmLtDX8DizlXoemdcM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2104950952,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t0bTqvEVBiu5mn99dkTsE6QR7TmLtDX8DizlXoemdcM/edit#gid=2104950952"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -2560,
        848
      ],
      "id": "6bf80e3e-d751-45c2-b2f0-7bb39e830dbb",
      "name": "Base de datos de las solicitudes",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "lNUumQkKhv1QiBf5",
          "name": "unabproyecton8n"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "VALIDACION URL1": {
      "main": [
        [
          {
            "node": "If Validación es vacío o error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cambiar formato fecha1": {
      "main": [
        [
          {
            "node": "Lectura de los datos 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lectura de los datos 1": {
      "main": [
        [
          {
            "node": "Transforma Para tener ID de columna1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transforma Para tener ID de columna1": {
      "main": [
        [
          {
            "node": "Filtra que no haya HECHOS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cambiar a PENDIENTE1": {
      "main": [
        [
          {
            "node": "IF URL NOT VACÍO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra que no haya HECHOS1": {
      "main": [
        [
          {
            "node": "Cambiar a PENDIENTE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualiza casilla en sheets1": {
      "main": [
        [
          {
            "node": "Adjunta todo1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IF URL NOT VACÍO1": {
      "main": [
        [
          {
            "node": "VALIDACION URL1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adjunta todo1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "If Validación es vacío o error1": {
      "main": [
        [
          {
            "node": "Adjunta todo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actualiza casilla en sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base de datos de las solicitudes": {
      "main": [
        [
          {
            "node": "Cambiar formato fecha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2832470d-5239-4e08-b85a-e6951de0fa28",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "57cbccbd29910ba3d5b74dc8112fc8d585b2c0b875b5fea8e89fd6f150d629f2"
  },
  "id": "kPPGiMmkzMz7Zphf",
  "tags": []
}